<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="back();">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 27.18 19.112">
          <path id="right-arrow"
            d="M18.3.287a.964.964,0,0,0-1.37,1.356l6.946,6.946H.959A.954.954,0,0,0,0,9.549a.965.965,0,0,0,.959.973h22.92l-6.946,6.933a.983.983,0,0,0,0,1.37.96.96,0,0,0,1.37,0l8.59-8.59a.943.943,0,0,0,0-1.356Z"
            transform="translate(27.18 19.112) rotate(180)" fill="#fff" />
        </svg>
      </ion-button>
    </ion-buttons>
    Order Cart
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1 class="total">Total Price: <span>₹ {{sum}}</span></h1>
    <ion-list>
      <ion-item *ngFor="let datum of cart; let i = index">
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>{{datum.item_name}}</h3>
          </ion-text>
          <p>Unit Price:&nbsp;<span>₹{{datum.unit_price * datum.quantity}}</span></p>
          <div class="qty_btn">
            <ion-button color="secondary" (click)="reduce(i)">-</ion-button>
            <input class="qty_input" value="01" type="number"  [(ngModel)]="datum.quantity">
            <ion-button color="secondary" (click)="add(i)">+</ion-button>
          </div>
          <ion-button shape="round" color="secondary" class="remove" (click)="remove_from_cart(datum,i)">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20.387 20.387">
              <path id="plus-symbol"
                d="M.509,7.723A.513.513,0,0,1,0,7.206.506.506,0,0,1,.509,6.7H6.689V.517A.52.52,0,0,1,7.206,0a.513.513,0,0,1,.509.517V6.7h6.179a.513.513,0,0,1,.517.509.519.519,0,0,1-.517.517H7.716V13.9a.513.513,0,0,1-.509.517.519.519,0,0,1-.517-.517V7.723Z"
                transform="translate(0 10.191) rotate(-45)" fill="#fff" />
            </svg>
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin-bottom">
    <ion-fab-button color="secondary" (click)="pay();">
      <svg id="credit-card" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 30.376 24.799">
        <g id="Group_25" data-name="Group 25" transform="translate(0 0)">
          <g id="Group_24" data-name="Group 24" transform="translate(0 0)">
            <path id="Path_10" data-name="Path 10"
              d="M264.04,247.848h8.1a.478.478,0,0,0,.506-.506v-4.555a.478.478,0,0,0-.506-.506h-8.1a.478.478,0,0,0-.506.506v4.555A.478.478,0,0,0,264.04,247.848Zm.506-4.555h7.086v3.543h-7.086Z"
              transform="translate(-247.844 -230.64)" fill="#fff" />
            <path id="Path_11" data-name="Path 11"
              d="M33.64,209.159h4.049a.506.506,0,1,0,0-1.012H33.64a.506.506,0,1,0,0,1.012Z"
              transform="translate(-31.11 -198.531)" fill="#fff" />
            <path id="Path_12" data-name="Path 12"
              d="M136.04,209.159h4.049a.506.506,0,1,0,0-1.012H136.04a.506.506,0,1,0,0,1.012Z"
              transform="translate(-127.436 -198.531)" fill="#fff" />
            <path id="Path_13" data-name="Path 13"
              d="M33.64,243.293H40.22a.506.506,0,1,0,0-1.012H33.64a.506.506,0,1,0,0,1.012Z"
              transform="translate(-31.11 -230.64)" fill="#fff" />
            <path id="Path_14" data-name="Path 14"
              d="M180.224,242.28h-1.518a.506.506,0,0,0,0,1.012h1.518a.506.506,0,1,0,0-1.012Z"
              transform="translate(-167.572 -230.639)" fill="#fff" />
            <path id="Path_15" data-name="Path 15"
              d="M28.911,51.379a1.886,1.886,0,0,0-1.367-.759l-1.215-.147V48.038a2.03,2.03,0,0,0-2.024-2.024H1.024A2.03,2.03,0,0,0-1,48.038v16.2A2.032,2.032,0,0,0,.45,66.175a1.97,1.97,0,0,0,1.789,2.007l23.382,2.632h.2a2.026,2.026,0,0,0,2.024-1.721l1.518-16.246A1.967,1.967,0,0,0,28.911,51.379ZM.012,49.557H25.318v3.037H.012Zm1.012-2.531H24.306a1.015,1.015,0,0,1,1.012,1.012v.506H.012v-.506A1.015,1.015,0,0,1,1.024,47.026ZM.012,64.234V53.606H25.318V64.234a1.015,1.015,0,0,1-1.012,1.012H1.024A1.015,1.015,0,0,1,.012,64.234Zm28.342-11.59L26.836,68.89a1.021,1.021,0,0,1-1.113.911L2.391,67.169a1.023,1.023,0,0,1-.911-.911H24.306a2.03,2.03,0,0,0,2.024-2.024v-12.8l1.164.1a.865.865,0,0,1,.658.354A1.025,1.025,0,0,1,28.355,52.644Z"
              transform="translate(1 -46.014)" fill="#fff" />
          </g>
        </g>
      </svg>

    </ion-fab-button>
  </ion-fab>
</ion-content>