@mixin font($size,$weight) {
    font:{
        size: $size;
        weight: $weight;
    }
}
.header-md{
    &:after{
        display: none;
    }
}
.total{
    @include font(1rem, 300);
    padding: 8px 16px;
    background-color: #2a3841;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-top: 0;
    span{
        @include font(1.75rem, 300);
    }
}

ion-item{
    padding-inline-end: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));
}

ion-list{
    padding: 0 0 85px;
}

:host{
    .qty_btn{
        ion-button{
            --border-radius: 50%;
            --padding-start: 0em;
            --padding-end: 0em;
            width: 20px;
            height: 20px;
            margin: 0px;
        }
    }
    .add{
        --border-radius: 20px;
        @include font(0.75rem, 400);
        width: 100%;
        height: 28px;
        letter-spacing: 0;
    }
    ion-item{
        .remove{
            --border-radius: 50%;
            --padding-start: 0em;
            --padding-end: 0em;
            width: 25px;
            height: 25px;
            margin: 0px;
            position: absolute;
            top: 10px;
            right: 0;
        }
    }
}

.qty_btn{
    display: flex;
    align-items: center;
    margin: 10px 0 0;
    input{
        width: 70px;
        margin: 0 5px;
        border-radius: 3px;
        border: 1px solid #ddd;
        text-align: center;
        @include font(0.75rem, 400);
        padding: 6px 0;
        
    }
}