<ion-content fullscreen class="ion-padding login">
  <div class="login_content">
  <h1>MYPOS</h1>
  <form [formGroup]="userForm" (ngSubmit)="login()" padding-right>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" formControlName="username"></ion-input>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>
  <ion-button expand="full" fill="clear" slot="start" class="ion-text-capitalize ion-no-padding">Forgot Password?</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin-bottom">
    <ion-fab-button type="submit" color="secondary" (click)="login()" [disabled]="userForm.invalid">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 27.241 19.154">
        <path id="right-arrow" d="M18.344,4.962a.966.966,0,0,0-1.373,1.359l6.961,6.961H.961A.956.956,0,0,0,0,14.244a.967.967,0,0,0,.961.975H23.932l-6.961,6.948a.986.986,0,0,0,0,1.373.962.962,0,0,0,1.373,0l8.609-8.609a.945.945,0,0,0,0-1.359Z" transform="translate(0 -4.674)" fill="#fff"/>
      </svg>
    </ion-fab-button>
  </ion-fab>
</form>
  </div>
</ion-content>
