%pseudo{
    content:'';
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    width: 100%;
}
:host {
    ion-content {
        --background: url('../../assets/img/login_bg.svg') no-repeat 5% 0% / 105% #fff;
         &:after{
            @extend %pseudo;
            background-image: url(../../assets/img/food.svg);
            background-size: 155px;
            bottom: 0;
            height: 135px;
        }
    }
    ion-item{
        --background: transparent;
    }
}
h1{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 5px;
    color: #fff;
    margin-bottom: 50px;
}
.login_content{
    margin-top: 46%;
}