<ion-app>
  <ion-split-pane>
    <ion-menu auto-hide="true" side="start" menuId="first" [swipeGesture]="false">
      <ion-header>
        <ion-toolbar color="primary">
          <label><img src="../assets/img/dummy_logo.png"></label>
          <h4>example@gmail.com</h4>
          <span>Last Synced:&nbsp;17-04-2019</span>
        </ion-toolbar>
      </ion-header>
      <ion-content color="primary">
        <ion-list>
          <ion-item class="ion-no-padding">
            <ion-button expand="full" fill="clear" routerLink="/home" routerLinkActive="active">
              <ion-text slot="start">Home</ion-text>
            </ion-button>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-button expand="full" fill="clear" slot="start" routerLink="/settings"
              routerLinkActive="active"><ion-text slot="start">Settings</ion-text></ion-button>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-button expand="full" fill="clear" slot="start" routerLink="/" routerLinkActive="active"><ion-text slot="start">About</ion-text>
            </ion-button>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-button expand="full" fill="clear" slot="start" routerLink="/" routerLinkActive="active"><ion-text slot="start">Help</ion-text>
            </ion-button>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-button expand="full" fill="clear" slot="start" routerLink="/login" routerLinkActive="active"><ion-text slot="start">Logout</ion-text>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>