%pseudo{
    content:'';
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}
@mixin font($size,$weight) {
    font:{
        size: $size;
        weight: $weight;
    }
}
:host {
    ion-content {
         &:before{
            @extend %pseudo;
            background: url(../assets/img/soup.svg) bottom right / 130px no-repeat;
            right: 0;
            bottom: 0;
        }
    }
    ion-item{
        --background: transparent;
        color: #fff;
        cursor: pointer;
        padding-inline-end: 0;
        .item-inner{
            padding-inline-end: 0;
        }
        ion-button{
            @include font(1rem,400);
            color: #fff;
            width: 100%;
            height: 48px;
            margin: 0;
            padding: 0 6.4px;
            text-transform: capitalize;
            // &.active{
            //     background-color: #F58634;
            //     color: #fff;
            // }
            &:focus{
                outline: none;
            }
            ion-text{
                width: 100%;
                text-align: left;
                outline: none;
            }
        }
    }
}
.list-md{
    background: transparent;
}
.list-ios{
    @extend .list-md;
}
.header-md{
    &:after{
        display: none;
    }
}
ion-toolbar{
    padding: 0 12px 12px;
    border-bottom: 0.5px solid #1A242A;
    label{
        width: 60px;
        height: 60px;
        object-fit: contain;
        background-color: #fff;
        border-radius: 50%;
        padding: 10px;
        margin-top: 15px;
        display: block;
    }
    h4{
        @include font(1rem,400);
        margin: 5px 0;
    }
    span{
        @include font(0.8rem, 400);
        color: #ddd;
    }
}