<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="back();">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 27.18 19.112">
          <path id="right-arrow"
            d="M18.3.287a.964.964,0,0,0-1.37,1.356l6.946,6.946H.959A.954.954,0,0,0,0,9.549a.965.965,0,0,0,.959.973h22.92l-6.946,6.933a.983.983,0,0,0,0,1.37.96.96,0,0,0,1.37,0l8.59-8.59a.943.943,0,0,0,0-1.356Z"
            transform="translate(27.18 19.112) rotate(180)" fill="#fff" />
        </svg>
      </ion-button>
    </ion-buttons>
    Payment
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1 class="total">Total Price: <span>₹ {{sum}}</span></h1>
    <form [formGroup]="paymentForm" (ngSubmit)="print()" padding-right>
    <ion-card>
      <ion-card-content>
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Customer Name</ion-label>
          <ion-input type="text" formControlName="customer_name"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Mobile no.</ion-label>
          <ion-input type="number" formControlName="mobile_no"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-list class="ion-no-padding">
          <ion-radio-group formControlName="payment_type">
            <ion-list-header class="ion-no-padding">
              <ion-label>Payment Method</ion-label>
            </ion-list-header>

            <ion-item class="ion-no-padding">
              <ion-label>Cash</ion-label>
              <ion-radio color="secondary" slot="start" value="cash" checked></ion-radio>
            </ion-item>

            <ion-item class="ion-no-padding">
              <ion-label>Credit / Debit Card</ion-label>
              <ion-radio color="secondary" slot="start" value="Credit / Debit Card"></ion-radio>
            </ion-item>

            <ion-item class="ion-no-padding">
              <ion-label>Paytm</ion-label>
              <ion-radio color="secondary" slot="start" value="Paytm"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-content>
        <h3>Total Price: <span>₹ {{ sum }}</span></h3>
        <ion-item class="ion-no-padding ion-margin-bottom">
          <ion-input placeholder="Enter amount" formControlName="amount"></ion-input>
        </ion-item>
        <ion-text color="secondary">
          <!--p class="remaning">Remaning Balance: <span>₹50</span></p-->
        </ion-text>
      </ion-card-content>
    </ion-card>
  </form>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin-bottom">
    <ion-fab-button color="secondary" (click)="print()" [disabled]="paymentForm.invalid">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 27.241 19.154">
        <path id="right-arrow"
          d="M18.344,4.962a.966.966,0,0,0-1.373,1.359l6.961,6.961H.961A.956.956,0,0,0,0,14.244a.967.967,0,0,0,.961.975H23.932l-6.961,6.948a.986.986,0,0,0,0,1.373.962.962,0,0,0,1.373,0l8.609-8.609a.945.945,0,0,0,0-1.359Z"
          transform="translate(0 -4.674)" fill="#fff" />
      </svg>
    </ion-fab-button>
  </ion-fab>
</ion-content>