@mixin font($size,$weight) {
    font:{
        size: $size;
        weight: $weight;
    }
}
.header-md{
    &:after{
        display: none;
    }
}
.total{
    @include font(1rem, 300);
    padding: 8px 16px;
    background-color: #2a3841;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-top: 0;
    span{
        @include font(1.75rem, 300);
    }
}

ion-radio{
    margin-inline-end: 8px;
    border: 0px;
}

ion-content{
    > div{
        padding-bottom: 85px;
    }
}

ion-list-header{
    border-bottom: 1px solid #ddd;
}

ion-card{
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    margin-bottom: 20px;
}

:host{
    ion-radio{
        button{
            --border-width: 0px;
        }
    }
}