@mixin font($size,$weight) {
    font:{
        size: $size;
        weight: $weight;
    }
}
.header-md{
    &:after{
        display: none;
    }
}
.menu_tab {
    position: sticky;
    top: 0;
    z-index: 1;
    ul {
        padding: 0px;
        display: inline-flex;
        width: 100%;
        overflow-x: auto;
        list-style: none;
        margin: 0;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar{
            display: none;
        }
        li{
            display: inline;
            color: #fff;
            ion-button{
                @include font(0.8rem, 400);
                color: #fff;
                text-transform: capitalize;
                letter-spacing: 0.02em;
                margin: 0;
            }
        }
    }
    &:before{
        content: '';
        height: 100%;
        width: 100%;
        background-color: #2a3841;
        position: absolute;
    }
}
:host {
    .button-clear{
        --color-activated: #fff;
        --color-focused: #fff;
        --border-radius: 0px;
        &.highlight{
            --border: none;
            --border-bottom-width: 2px;
            --border-style:  solid;
            --border-color:  #F58634;
        }
    }
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
}
.col-50{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 12px 16px;
    @media (min-width:768) {
        flex: 0 0 200px;
        max-width: 200px;
    }
}
.menu_list {
    padding: 0 16px 85px;
    h3{
        @include font(0.85rem, 500);
        color: #2A3841;
        margin: 5px 0;
    }
    label{
        @include font(0.75rem, 500);
        color: #686868;
        span{
            color: #2A3841;
        }
    }
    .row{
        border-bottom: 1px solid #ddd;
    }
    .col-50:nth-child(odd){
        border-right: 1px solid #ddd;
    }
    .col-50:not(:last-child){
        border-bottom: 1px solid #ddd;
    }
}
:host{
    .qty_btn{
        ion-button{
            --border-radius: 50%;
            --padding-start: 0em;
            --padding-end: 0em;
            width: 20px;
            height: 20px;
            margin: 0px;
        }
    }
    .add{
        --border-radius: 20px;
        @include font(0.75rem, 400);
        width: 100%;
        height: 28px;
        letter-spacing: 0;
    }
}
.qty_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    input{
        width: 50%;
        margin: 0 5px;
        border-radius: 3px;
        border: 1px solid #ddd;
        text-align: center;
        @include font(0.75rem, 400);
        padding: 6px 0;
        
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}