<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="back();">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 27.18 19.112">
          <path id="right-arrow" d="M18.3.287a.964.964,0,0,0-1.37,1.356l6.946,6.946H.959A.954.954,0,0,0,0,9.549a.965.965,0,0,0,.959.973h22.92l-6.946,6.933a.983.983,0,0,0,0,1.37.96.96,0,0,0,1.37,0l8.59-8.59a.943.943,0,0,0,0-1.356Z" transform="translate(27.18 19.112) rotate(180)" fill="#fff"/>
        </svg>
      </ion-button>
    </ion-buttons>
    Menu List
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menu_tab">
    <ul>
      <li><ion-button class="highlight" fill="clear">Starter</ion-button></li>
      <li><ion-button fill="clear">Starter</ion-button></li>
    </ul>
  </div>
  <div class="menu_list">
    <div class="row">
     
      <div class=col-50 *ngFor="let datum of items; let i = index">
          <h3>{{datum.item_name}}</h3>
          <label>Unit Price:<span>₹{{datum.unit_price}}</span></label>
          <div class="qty_btn">
            <ion-button color="secondary" (click)="reduce(i)">-</ion-button>
            <input class="qty_input" value="01" type="number"  [(ngModel)]="datum.dummy_cart">
            <ion-button color="secondary" (click)="add(i)">+</ion-button>
          </div>
          <ion-button class="add" (click)="AddToCart(datum,i)">Add To Cart</ion-button>
        </div>
      
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin-bottom">
    <ion-fab-button color="secondary" (click)="cart()">
      <svg id="shopping-cart" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 29.651 27.18">
        <g id="Group_5" data-name="Group 5" transform="translate(0 0)">
          <g id="Group_4" data-name="Group 4" transform="translate(0 0)">
            <path id="Path_1" data-name="Path 1" d="M29.528,25.287a.642.642,0,0,0-.494-.247H5.56l-.618-3.212c0-.247-.371-.494-.618-.494H.618a.618.618,0,0,0,0,1.235H3.83L6.8,37.642A4.353,4.353,0,0,0,11,41.1H25.2a.618.618,0,1,0,0-1.236H11.119a2.848,2.848,0,0,1-2.471-1.359l18.038-2.471a.531.531,0,0,0,.494-.494l2.471-9.884A.61.61,0,0,0,29.528,25.287Zm-3.459,9.637L8.031,37.272,5.807,26.152H28.169Z" transform="translate(0 -21.334)" fill="#fff"/>
          </g>
        </g>
        <g id="Group_7" data-name="Group 7" transform="translate(7.413 21.003)">
          <g id="Group_6" data-name="Group 6" transform="translate(0 0)">
            <path id="Path_2" data-name="Path 2" d="M131.089,384a3.089,3.089,0,1,0,3.089,3.089A3.059,3.059,0,0,0,131.089,384Zm0,4.942a1.853,1.853,0,1,1,1.853-1.853A1.9,1.9,0,0,1,131.089,388.942Z" transform="translate(-128 -384)" fill="#fff"/>
          </g>
        </g>
        <g id="Group_9" data-name="Group 9" transform="translate(19.768 21.003)">
          <g id="Group_8" data-name="Group 8" transform="translate(0 0)">
            <path id="Path_3" data-name="Path 3" d="M344.423,384a3.089,3.089,0,1,0,3.089,3.089A3.059,3.059,0,0,0,344.423,384Zm0,4.942a1.853,1.853,0,1,1,1.853-1.853A1.9,1.9,0,0,1,344.423,388.942Z" transform="translate(-341.334 -384)" fill="#fff"/>
          </g>
        </g>
      </svg>        
    </ion-fab-button>
  </ion-fab>
</ion-content>
