@mixin font($size,$weight) {
    font:{
        size: $size;
        weight: $weight;
    }
}
.header-md{
    &:after{
        display: none;
    }
}
ion-card{
    height: calc(100vh - 100px);
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    background-color: #ffffff;
    border-radius: 2px;
}
ion-list-header{
    border-bottom: 1px solid #ddd;
}

ion-list{
    height: calc(100vh - 190px);
    overflow: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    &::-webkit-scrollbar{
        display: none;
    }
}

ion-content{
    > div{
        &:before{
            content: '';
            height: 80px;
            width: 100%;
            background-color: #2a3841;
            position: absolute;
            top: 0;
        }
    }
}