<ion-header>
  <ion-toolbar color="primary">
    <ion-title>print</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-card>
      <ion-card-content>
        <ion-list class="ion-no-padding">
          <ion-list-header class="ion-no-padding">
            <ion-label>Items</ion-label>
          </ion-list-header>

          <ion-item class="ion-no-padding" *ngFor="let datum of cart; let i = index">
            <ion-label text-wrap>
              <ion-text color="primary">
                <h3>{{datum.item_name}}</h3>
              </ion-text>
              <p>Qty:&nbsp;<span>{{datum.quantity}}</span></p>
            </ion-label>
            <ion-text slot="end" color="secondary">
              <h3>₹{{datum.unit_price * datum.quantity}}</h3>
            </ion-text>
          </ion-item>
        </ion-list>
        
        <ion-text color="primary">
          <h4>Total Price:</h4>
          <h1>₹{{sum}}</h1>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin-bottom">
    <ion-fab-button color="secondary" (click)="print();">
      <svg id="printer" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 31.698 33.35">
        <g id="Group_30" data-name="Group 30" transform="translate(0)">
          <path id="Path_18" data-name="Path 18"
            d="M38.72,6.836h-.857V4.928A4.935,4.935,0,0,0,32.935,0H22.587a4.935,4.935,0,0,0-4.928,4.928V6.836h-.781a4.935,4.935,0,0,0-4.928,4.928v7.949a4.935,4.935,0,0,0,4.928,4.928h.774v6.248a2.466,2.466,0,0,0,2.461,2.461H35.4a2.466,2.466,0,0,0,2.461-2.461V24.641h.864a4.935,4.935,0,0,0,4.928-4.928V11.764A4.935,4.935,0,0,0,38.72,6.836Zm-19.2-1.908a3.068,3.068,0,0,1,3.062-3.062h10.34a3.068,3.068,0,0,1,3.062,3.062V6.836H19.519ZM35.99,30.9a.6.6,0,0,1-.594.594H20.113a.6.6,0,0,1-.594-.594V20.6H35.99ZM41.782,19.72a3.068,3.068,0,0,1-3.062,3.062h-.857V20.6h1.23a.933.933,0,1,0,0-1.866H16.284a.933.933,0,0,0,0,1.866h1.375v2.184h-.781a3.068,3.068,0,0,1-3.062-3.062V11.771a3.068,3.068,0,0,1,3.062-3.062H38.72a3.068,3.068,0,0,1,3.062,3.062Z"
            transform="translate(-11.95)" fill="#fff" />
          <path id="Path_19" data-name="Path 19"
            d="M141.583,339.266h11.882a.933.933,0,0,0,0-1.866H141.583a.933.933,0,0,0,0,1.866Z"
            transform="translate(-131.754 -314.079)" fill="#fff" />
          <path id="Path_20" data-name="Path 20"
            d="M154.472,392.6H142.583a.933.933,0,1,0,0,1.866h11.882a.933.933,0,0,0,.007-1.866Z"
            transform="translate(-132.685 -365.464)" fill="#fff" />
          <path id="Path_21" data-name="Path 21"
            d="M360.877,151.9h-1.894a.933.933,0,0,0,0,1.866h1.894a.933.933,0,0,0,0-1.866Z"
            transform="translate(-334.128 -141.401)" fill="#fff" />
        </g>
      </svg>

    </ion-fab-button>
  </ion-fab>
</ion-content>