@mixin font($size,$weight) {
    font:{
        size: $size;
        weight: $weight;
    }
}
.header-md{
    &:after{
        display: none;
    }
}
ion-toolbar{
    --background: url('../../assets/img/salad.svg')  bottom right / 130px no-repeat;
}
h5{
    @include font(1.2rem, 500);
    padding: 0 12px;
}
h1{
    @include font(1.75rem, 400);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
    color: #797979;
    span{
        display: block;
    }
}
h2{
    @include font(1.5rem, 400);
    color: #797979;
    margin-top: 0px;
}
.slider {
    position: relative;
    .slides {
        padding: 10px 16px;
        display: -webkit-box;
        width: 100%;
        overflow-x: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    ion-card{
        width: 70%;
        max-width: 70%;
        background-color: #fff;
        border-radius: 3px;
        margin: 0 16px 0 0;
        padding: 4px 0px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        h4{
            @include font(1.2rem, 400);
            color: #2A3841;
        }
        h2{
            text-align: right;
            @include font(1.5rem, 500);
            color: #F58634;
            margin-top: 16px;
            span{
                @include font(0.75rem, 400);
                color: #333;
            }
        }
    }
    &:before{
        content: '';
        height: 50%;
        width: 100%;
        background-color: #2a3841;
        position: absolute;
    }
}
ion-button{
    margin-top: 20px;
    text-transform: capitalize;
    letter-spacing: 0;
    height: 46px;
    @include font(1.2rem, 400);
}