<ion-header>
  <ion-toolbar color="primary">
    <ion-button fill="clear" (click)="openFirst();">
      <svg id="Group_3" data-name="Group 3" xmlns="http://www.w3.org/2000/svg" width="30.46" height="12.644" viewBox="0 0 30.46 12.644">
        <rect id="Rectangle_11" data-name="Rectangle 11" width="30.46" height="1.149" rx="0.575" fill="#fff"/>
        <rect id="Rectangle_12" data-name="Rectangle 12" width="25.575" height="1.149" rx="0.575" transform="translate(0 5.747)" fill="#fff"/>
        <rect id="Rectangle_13" data-name="Rectangle 13" width="19.636" height="1.149" rx="0.575" transform="translate(0 11.495)" fill="#fff"/>
      </svg>      
    </ion-button>
    <h5>Overview</h5>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="slider">
    <div class="slides">
      <ion-card>
          <ion-card-content>
              <h4>Total Sales</h4>
              <span>Today</span>
              <h2>₹ {{total_sales}}</h2>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
              <h4>Total Order</h4>
              <span>Today</span>
              <h2>{{order_count}}&nbsp;<span>(count)</span></h2>
          </ion-card-content>
        </ion-card>
    </div>
  </div>
  <div  class="ion-padding">
    <h1><!--11:24:00:02--> {{date  | date: 'short' }}
      <span>
          <svg id="calendar" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38">
            <g id="Group_97" data-name="Group 97">
              <g id="Group_96" data-name="Group 96">
                <path id="Path_92" data-name="Path 92" d="M33.547,2.969H31.766V0H28.8V2.969H9.2V0H6.234V2.969H4.453A4.458,4.458,0,0,0,0,7.422V33.547A4.458,4.458,0,0,0,4.453,38H33.547A4.458,4.458,0,0,0,38,33.547V7.422A4.458,4.458,0,0,0,33.547,2.969Zm1.484,30.578a1.486,1.486,0,0,1-1.484,1.484H4.453a1.486,1.486,0,0,1-1.484-1.484V13.953H35.031Zm0-22.562H2.969V7.422A1.486,1.486,0,0,1,4.453,5.938H6.234V8.906H9.2V5.938H28.8V8.906h2.969V5.938h1.781a1.486,1.486,0,0,1,1.484,1.484Z" fill="#2a3841"/>
              </g>
            </g>
            <g id="Group_99" data-name="Group 99" transform="translate(5.641 17.07)">
              <g id="Group_98" data-name="Group 98">
                <rect id="Rectangle_86" data-name="Rectangle 86" width="2.969" height="2.969" fill="#2a3841"/>
              </g>
            </g>
            <g id="Group_101" data-name="Group 101" transform="translate(11.578 17.07)">
              <g id="Group_100" data-name="Group 100">
                <rect id="Rectangle_87" data-name="Rectangle 87" width="2.969" height="2.969" fill="#2a3841"/>
              </g>
            </g>
            <g id="Group_103" data-name="Group 103" transform="translate(17.516 17.07)">
              <g id="Group_102" data-name="Group 102">
                <rect id="Rectangle_88" data-name="Rectangle 88" width="2.969" height="2.969" fill="#2a3841"/>
              </g>
            </g>
            <g id="Group_105" data-name="Group 105" transform="translate(23.453 17.07)">
              <g id="Group_104" data-name="Group 104">
                <rect id="Rectangle_89" data-name="Rectangle 89" width="2.969" height="2.969" fill="#2a3841"/>
              </g>
            </g>
            <g id="Group_107" data-name="Group 107" transform="translate(29.391 17.07)">
              <g id="Group_106" data-name="Group 106">
                <rect id="Rectangle_90" data-name="Rectangle 90" width="2.969" height="2.969" fill="#2a3841"/>
              </g>
            </g>
            <g id="Group_109" data-name="Group 109" transform="translate(5.641 23.008)">
              <g id="Group_108" data-name="Group 108">
                <rect id="Rectangle_91" data-name="Rectangle 91" width="2.969" height="2.969" fill="#2a3841"/>
              </g>
            </g>
            <g id="Group_111" data-name="Group 111" transform="translate(11.578 23.008)">
              <g id="Group_110" data-name="Group 110">
                <rect id="Rectangle_92" data-name="Rectangle 92" width="2.969" height="2.969" fill="#2a3841"/>
              </g>
            </g>
            <g id="Group_113" data-name="Group 113" transform="translate(17.516 23.008)">
              <g id="Group_112" data-name="Group 112">
                <rect id="Rectangle_93" data-name="Rectangle 93" width="2.969" height="2.969" fill="#2a3841"/>
              </g>
            </g>
            <g id="Group_115" data-name="Group 115" transform="translate(23.453 23.008)">
              <g id="Group_114" data-name="Group 114">
                <rect id="Rectangle_94" data-name="Rectangle 94" width="2.969" height="2.969" fill="#2a3841"/>
              </g>
            </g>
            <g id="Group_117" data-name="Group 117" transform="translate(5.641 28.945)">
              <g id="Group_116" data-name="Group 116">
                <rect id="Rectangle_95" data-name="Rectangle 95" width="2.969" height="2.969" fill="#2a3841"/>
              </g>
            </g>
            <g id="Group_119" data-name="Group 119" transform="translate(11.578 28.945)">
              <g id="Group_118" data-name="Group 118">
                <rect id="Rectangle_96" data-name="Rectangle 96" width="2.969" height="2.969" fill="#2a3841"/>
              </g>
            </g>
            <g id="Group_121" data-name="Group 121" transform="translate(17.516 28.945)">
              <g id="Group_120" data-name="Group 120">
                <rect id="Rectangle_97" data-name="Rectangle 97" width="2.969" height="2.969" fill="#2a3841"/>
              </g>
            </g>
            <g id="Group_123" data-name="Group 123" transform="translate(23.453 28.945)">
              <g id="Group_122" data-name="Group 122">
                <rect id="Rectangle_98" data-name="Rectangle 98" width="2.969" height="2.969" fill="#2a3841"/>
              </g>
            </g>
            <g id="Group_125" data-name="Group 125" transform="translate(29.391 23.008)">
              <g id="Group_124" data-name="Group 124">
                <rect id="Rectangle_99" data-name="Rectangle 99" width="2.969" height="2.969" fill="#2a3841"/>
              </g>
            </g>
          </svg>
      </span>
    </h1>
    <!--h2>18-04-2019</h2-->
    <ion-button color="primary" (click)="downloadCSV()">Generate Report</ion-button>
  </div>
    <!-- <ion-slides>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin-bottom">
    <ion-fab-button color="secondary" (click)="order()">
      <svg xmlns="http://www.w3.org/2000/svg" width="28.211" height="28.226" viewBox="0 0 28.211 28.226">
        <path id="plus-symbol" d="M1.005,15.117a1,1,0,0,1-1-1.012.991.991,0,0,1,1-1H13.1V1.012A1.017,1.017,0,0,1,14.114,0a1,1,0,0,1,1,1.012v12.1h12.1a1,1,0,0,1,1.012,1,1.016,1.016,0,0,1-1.012,1.012h-12.1v12.1a1,1,0,0,1-1,1.012A1.016,1.016,0,0,1,13.1,27.214v-12.1Z" transform="translate(-0.008)" fill="#fff"/>
      </svg>
    </ion-fab-button>
  </ion-fab>
</ion-content>
